body {
    background-color: #EEEEEE;
}

.title {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    letter-spacing: -5px;
    font-size:5.0em;
    color: #AEF100;
    margin-left: 20px;
    margin-bottom: -15px;
    font-weight: 400;
    width: 760px;
    padding: 0;
}

.smalltitle {
    color: #AEF100;
    font-size:.3em;
    letter-spacing: -2px;
    margin-top: 52px;
    margin-left:5px;
    text-transform: lowercase;
    float: right;
    bottom: 0;
}

.content{
    width: 720px;
    min-height: 500px;
    margin-left: 20px ;
    background-color: #FFFFFF;
    border:2px solid #CCCCCC;
    overflow:auto;
    padding: 20px;
}

.content p {
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    font-size:2.0em;
}

.content ul {
    margin-left: auto ;
    margin-right: auto ;
}

.content .users{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: auto ;
    margin-right: auto ;
    color: #3C94BC;
    font-size: 3em;
    text-align: center;
}

.content .game {
    margin-bottom: 10px;
}

.content .tags{
    font-style: italic;
}

.content .tags a {
    background-color: #D2F870;
    color: #444444;
}

.content .tie,.win,.loss {
    font-size:1.25em;
    color: #444444;
}

.tie {
    background-color: #FFFD87;
}
.win {
    background-color: #D2F870;
}
.loss {
    background-color: #F70542;
}

.content .link {
    text-size: 1.25em;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    color: red;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
.report {
    margin-top:50px;
    width: 590px;
    padding: 0 0 0 4px;
    margin-left: auto;
    margin-right: auto;
    color: #444444;
}

.report p{
    text-size: 1em;
    margin-bottom:0;
}

.report .chart{
    float:left;
    margin:0;
    padding:0;
    width:75%;
}
.report .inner{
    margin-top:45px;
    margin-right:-25px;
    font-weight:bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    float:left;
}

.report table{
    width: 100%;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    color: #444444;
}

.report table td{
    width:20%;
}

.report .low {
     background-color: #D2F870;
}
.report .med {
     background-color: #FFFD87;
}
.report .high {
     background-color: #F70542;
}

.protip {
    top: 0px;
    font-size: .6em;
    font-style: italic;
    text-align: center;
}

.functions{
    width: 110px;
    font-size: .6em;
    float: left;
    margin: 0px 4px;
    text-align: center;
    padding: 10px 8px;
    color: #333333;
}

.functions ul{
    list-style-type: none;
    padding: 0;
}

.functions lh{
    font-weight: bold;
}

.functions li {
    margin-top: 3px;
}

.none {
    list-style-type: none;
    margin:0;
}

.none li{
    text-align:left;
    padding:2px 0;
}

.helptext {
    padding:0 30px;
    margin-left:auto;
    margin-right:auto;
}

.helptext h3 {
    margin:30px 0 0 0;
    padding:0;
}