<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Bloom | {% block title %} {% endblock %}</title>
  <link href="{{MEDIA_URL}}css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="title">bloom
    <a class="smalltitle" href="{% url logout %}">logout</a>
    <a class="smalltitle" href="{% url top-competitors %}">top3</a>
    <a class="smalltitle" href="{% url index %}">{{user.username}}({{ user.stats.ratio }}%)</a>
  </div>
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
